html {
    background-color: purple;
}

header {
    text-align: center;

    img {
        display: block;
        max-width: 300px;
        max-height: 300px;
        width: auto;
        height: auto;
    }
}



.container {
        width: 300px;
        height: 300px;
        position: absolute;
        margin: 150px;
        cursor: pointer;
        overflow: hidden;
    }
    
    img.developer{
        position: fixed;
        // margin: 0;
        top: 0;
        right: 75%;
        bottom: 0;
        left: 75%;
        max-width: 100%;
        max-height: 100%;
        opacity:0.5;
        filter: alpha(opacity=50);
        // width: auto;
        // height: auto;
        transition: all 1s;
}


//     span {
//         position: absolute;
//         color: #fff;
//         left: 0px;
//         bottom: 0px;
//         right: 0px;
//         margin: 0px;
//         font-family: sans-serif;
//         padding: 0px 0px;
//         font-size: 40px;
//         transform: translateY(50px);
//         opacity: 1;
//         transition: all 1s ease-in;
//         font-weight: 300px;
// }


    .container:hover img {
        // background-position: right;
        // background-size: cover;
        transform: scale(-1.2);
        transform-style: inherit;
        transition: all 1s;
        opacity:1;
        filter: alpha(opacity=100);
        // filter: brightness(.5);
}
