@import url(https://use.fontawesome.com/releases/v5.0.9/css/all.css);

body {
    height: 100%;
    margin: 0px;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-image: url('../img/Madrid.jpg');
    overflow: hidden;
}

h1 {
    padding-top: 200px;
    font-size: 70px;
    text-align: center;
    color: #fff;
    font-family: fantasy;
    font-weight: 900;
}

.sidenav {
    height: 100%;
    width: 160px;
    position: center;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: transparent;
    overflow-x: hidden;
    padding-top: 20px;
}

.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 40px;
    color: #fff;
    display: block;

    div.icons {
        display: flex;
        flex-direction: row;
        
    
        i {
            justify-content: space-between;
            align-items: stretch;
            color: #fff;
            }
    }


}

.sidenav a:hover {
    color: black;
}

