@import url(https://use.fontawesome.com/releases/v5.0.9/css/all.css);

html, body {
    height: 100%;
    margin:0px;

}

main {
    
    display: flex; 
    flex-direction: row;




    a {
        flex: 1;
        height: 100vh;
        text-align: center;
        text-decoration: none;


        h1 {
            padding-top: 300px;
            color: rgb(241, 231, 231);
            text-transform: uppercase;
            font-family: 'Russo One', sans-serif;
            font-size: 40px;
        }

        p {
            color: rgb(235, 232, 232);
            font-family: 'Ropa Sans', sans-serif;
            font-size: 20px;
        }

        &.about {

            overflow: hidden;
            position: relative;

            div {

                position: absolute;
                top:0;
                right:0;
                bottom:0;
                left: 0;
                transition: all .5s ease-in;
                background-image: linear-gradient(rgba(64, 65, 70, 0.966), hsla(64, 88%, 60%, .2)),url('../img/become-a-developer.jpg');
                background-size: cover;
                background-position: center;
            }
            
        }

        &.portfolio {

            overflow: hidden;
            position: relative;

            div {
                position: absolute;
                top:0;
                right:0;
                bottom:0;
                left: 0;
                transition: all .5s ease-in;
                background-image: linear-gradient(rgba(64, 65, 70, 0.966), hsla(64, 88%, 60%, .2)),url('../img/Teamwork.jpg');
                background-size: cover;
                background-position: center;
            }

            i {
               color: #fff;
            }

        }

        &.contact {

            overflow: hidden;
            position: relative;

            div {
                position: absolute;
                top:0;
                right:0;
                bottom:0;
                left: 0;
                transition: all .5s ease-in;
                background-image: linear-gradient(rgba(64, 65, 70, 0.966), hsla(64, 88%, 60%, .2)),url('../img/SetWidth592-world-after-tomorrow-4.jpg');
                background-size: cover;
                background-position: center;
            }

            i {
                color: #fff;
                
            }
        }

        &.about:hover  {

            filter: brightness(1);
            background-image: linear-gradient(rgba(44, 44, 44, 0.253), rgba(32, 32, 32, 0.877)),url('../img/become-a-developer.jpg');
            
            div {

                transform: scale(1.1);
            }

        }

        &.portfolio:hover {
            filter: brightness(1);
            background-image: linear-gradient(rgba(20, 20, 20, 0.534), rgba(19, 19, 19, 0.692)),url('../img/Teamwork.jpg');

            div {

                transform: scale(1.1);
            }

        }

        &.contact:hover {
            filter: brightness(1);
            background-image: linear-gradient(rgba(44, 44, 44, 0.363), rgba(32, 32, 32, 0.877)),url('../img/SetWidth592-world-after-tomorrow-4.jpg');

            div {
                transform: scale(1.1);

            }

        }
    }

    .footer {

        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 4.5vh;
        background-color: rgba(216, 212, 212, 0.192);
        color: black;
        text-align: center;
        font-size: 15px;
    }
}

